{% extends "template.html" %}

{% block title %}
Events
{% endblock %}

{% block content %}
<!-- content goes here -->
<div class="row mt-5">
    <div class="col-md-4">
        <div class="form-group">
            <label for="categoryInput">Categories</label>
            <select class="form-control bg-color3 rounded-pill shadow" id="categoryInput">
                <option value="all" {% if current_category == 'all' %}selected {% endif %}>All</option>
                {% for category in categories %}
                {{current_category}}
                <option value="{{ category.get_id() }}" {% if current_category == category.get_id() %}selected {% endif %}>{{ category.get_name() }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<form action="/place-order" id="orderForm" method="post">
    <input type="hidden" name="ticket_id">
</form>
<div class="row no-gutters justify-content-center">
    {% for event in events %}
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">{{event.get_title()}}</h5>
        <p>{{event.get_schedule()}}</p>
        <p>{{event.get_description()}}</p>
        {% for ticket in event.get_tickets() %}
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm btn-order" data-ticket-id="{{ticket.get_id()}}">
            {{ticket.get_type()}} @ IDR {{"{:,}".format(ticket.get_price())}}
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}