{% extends "template.html" %}

{% block title %}
Events
{% endblock %}

{% block content %}
<!-- content goes here -->
<div class="row mt-5">
    <div class="col-md-4">
        <div class="form-group">
            <label for="categoryInput">Categories</label>
            <select class="form-control bg-color3 rounded-pill shadow" id="categoryInput">
                <option value="all" {% if current_category == 'all' %}selected {% endif %}>All</option>
                {% for category in categories %}
                {{current_category}}
                <option value="{{ category['id'] }}" {% if current_category == category['id'] %}selected {% endif %}>{{ category['name'] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="row no-gutters justify-content-center">
    {% for event in events %}
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">{{event['title']}}</h5>
        <p>{{event['schedule']}}</p>
        <p>{{event['description']}}</p>
        {% for ticket in event['tickets'] %}
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            {{ticket['type']}} @ IDR {{"{:,}".format(ticket['price'])}}
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}