{% extends "template.html" %}

{% block title %}
Events
{% endblock %}

{% block content %}
<!-- content goes here -->
<div class="row mt-5">
    <div class="col-md-4">
        <div class="form-group">
            <label for="categoryInput">Categories</label>
            <select class="form-control bg-color3 rounded-pill shadow" id="categoryInput">
                <option value="all">All</option>
                <option value="all">All</option>
                <option value="all">All</option>
            </select>
        </div>
    </div>
</div>
<div class="row no-gutters justify-content-center">
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">Event Name : Event Jelek</h5>
        <p>20-02-2021 20:00</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
            impedit necessitatibus quisquam asperiores</p>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Bronze @ IDR 20000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Silver @ IDR 50000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Gold @ IDR 100000
        </a>
    </div>
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">Event Name : Event Jelek</h5>
        <p>20-02-2021 20:00</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
            impedit necessitatibus quisquam asperiores</p>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Bronze @ IDR 20000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Silver @ IDR 50000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Gold @ IDR 100000
        </a>
    </div>
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">Event Name : Event Jelek</h5>
        <p>20-02-2021 20:00</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
            impedit necessitatibus quisquam asperiores</p>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Bronze @ IDR 20000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Silver @ IDR 50000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Gold @ IDR 100000
        </a>
    </div>
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">Event Name : Event Jelek</h5>
        <p>20-02-2021 20:00</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
            impedit necessitatibus quisquam asperiores</p>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Bronze @ IDR 20000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Silver @ IDR 50000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Gold @ IDR 100000
        </a>
    </div>
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">Event Name : Event Jelek</h5>
        <p>20-02-2021 20:00</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
            impedit necessitatibus quisquam asperiores</p>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Bronze @ IDR 20000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Silver @ IDR 50000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Gold @ IDR 100000
        </a>
    </div>
    <div class="col-md-3 m-4 shadow text-white bg-color2 p-3 rounded-20">
        <h5 class="mb-3">Event Name : Event Jelek</h5>
        <p>20-02-2021 20:00</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
            impedit necessitatibus quisquam asperiores</p>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Bronze @ IDR 20000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Silver @ IDR 50000
        </a>
        <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
            Gold @ IDR 100000
        </a>
    </div>
</div>
{% endblock %}