{% extends "template.html" %}

{% block title %} 
Home
{% endblock %}

{% block content %}
<!-- content goes here -->
<div class="p-4 rounded-lg my-4 bg-color3 shadow-lg">
    <h4 class="mb-4 font-weight-bold">Upcoming Events</h4>
    <div class="row no-gutters justify-content-center">
        <div class="col-md-3 p-3 mx-3 rounded-lg bg-color2 text-white">
            <h5 class="mb-3">Event Name : Event Jelek</h5>
            <p>20-02-2021 20:00</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
                impedit necessitatibus quisquam asperiores</p>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Bronze @ IDR 20000
            </a>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Silver @ IDR 50000
            </a>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Gold @ IDR 100000
            </a>
        </div>
        <div class="col-md-3 p-3 mx-3 rounded-lg bg-color2 text-white">
            <h5 class="mb-3">Event Name : Event Jelek</h5>
            <p>20-02-2021 20:00</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
                impedit necessitatibus quisquam asperiores</p>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Bronze @ IDR 20000
            </a>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Silver @ IDR 50000
            </a>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Gold @ IDR 100000
            </a>
        </div>
        <div class="col-md-3 p-3 mx-3 rounded-lg bg-color2 text-white">
            <h5 class="mb-3">Event Name : Event Jelek</h5>
            <p>20-02-2021 20:00</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae est, ratione quidem repudiandae doloribus
                impedit necessitatibus quisquam asperiores</p>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Bronze @ IDR 20000
            </a>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Silver @ IDR 50000
            </a>
            <a href="#" class="btn btn-block bg-white text-black rounded-pill btn-sm">
                Gold @ IDR 100000
            </a>
        </div>
    </div>
</div>
<div class="p-4 rounded-lg my-4 bg-color3 shadow-lg">
    <h4 class="mb-4 font-weight-bold">Last Order</h4>
    <div class="rounded-lg bg-color2 p-3 mx-5 text-white">
        <div class="bg-color2 shadow-sm text-white p-3 rounded-lg">
            <p class="text-color3">Event name : Event ga penting</p>
            <p>Time : 22-02-2020 22:00 -> 23-02-2020 00:00</p>
            <p>Price : IDR 22000</p>
            <span class="text-right d-block">11-01-2001 16:00</span>
        </div>
    </div>
</div>

{% endblock %}