{% extends "template.html" %}

{% block title %}
My Orders
{% endblock %}

{% block content %}
<!-- content goes here -->
{% if not orders %}
    <p class="text-center text-color2 mt-5 pt-5">Ups kamu belum pernah order nih..</p>
    <div class="text-center">
        <a href="/events" class="btn btn-sm px-5 bg-color2 text-color3 rounded-pill">order sekarang</a>
    </div>
    {% endif %}
{% for order in orders %}
<div class="my-4">
    <p>Order #{{order.get_id()}}</p>
    <div class="bg-color2 shadow-sm text-white p-3 rounded-20">
        <p class="text-color3">{{order.get_event().get_title()}}</p>
        <p>Time : {{order.get_event().get_schedule()}}</p>
        <p>Price : {{"{:,}".format(order.get_ticket().get_price())}}</p>
        <span class="text-right d-block">{{order.get_order_time()}}</span>
    </div>
</div>
{% endfor %}
{% endblock %}