{% extends "template.html" %}

{% block title %}
My Orders
{% endblock %}

{% block content %}
<!-- content goes here -->
<div class="my-4">
    <p>Order #1</p>
    <div class="bg-color2 shadow-sm text-white p-3 rounded-lg">
        <p class="text-color3">Event name : Event ga penting</p>
        <p>Time : 22-02-2020 22:00 -> 23-02-2020 00:00</p>
        <p>Price : IDR 22000</p>
        <span class="text-right d-block">11-01-2001 16:00</span>
    </div>
</div>
<div class="my-4">
    <p>Order #1</p>
    <div class="bg-color2 shadow-sm text-white p-3 rounded-lg">
        <p class="text-color3">Event name : Event ga penting</p>
        <p>Time : 22-02-2020 22:00 -> 23-02-2020 00:00</p>
        <p>Price : IDR 22000</p>
        <span class="text-right d-block">11-01-2001 16:00</span>
    </div>
</div>
<div class="my-4">
    <p>Order #1</p>
    <div class="bg-color2 shadow-sm text-white p-3 rounded-lg">
        <p class="text-color3">Event name : Event ga penting</p>
        <p>Time : 22-02-2020 22:00 -> 23-02-2020 00:00</p>
        <p>Price : IDR 22000</p>
        <span class="text-right d-block">11-01-2001 16:00</span>
    </div>
</div>
<div class="my-4">
    <p>Order #1</p>
    <div class="bg-color2 shadow-sm text-white p-3 rounded-lg">
        <p class="text-color3">Event name : Event ga penting</p>
        <p>Time : 22-02-2020 22:00 -> 23-02-2020 00:00</p>
        <p>Price : IDR 22000</p>
        <span class="text-right d-block">11-01-2001 16:00</span>
    </div>
</div>
{% endblock %}