{% extends "auth_template.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="center-form">
    <form method="post" action="/register">
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control rounded-pill" id="usernameInput" name="username">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control rounded-pill mr-3" id="passwordInput" name="password" data-toggle="password">
        </div>
        <div class="form-group">
            <label for="ageInput">Age</label>
            <input type="number" class="form-control rounded-pill" id="ageInput" name="age">
        </div>
        <div class="form-group">
            <label for="genderInput">Gender</label>
            <select class="form-control rounded-pill" id="genderInput" name="gender">
                <option value="pria">Pria</option>
                <option value="wanita">Wanita</option>
            </select>
        </div>
        <button type="submit" class="d-block btn btn-sm bg-color1 text-white mx-auto px-5 rounded-pill mt-5">sign
            up</button>
        <p class="text-center mt-4">
            Already Have Account ? <a class="text-color1" href="/login">Sign In</a>
        </p>
    </form>
</div>
{% endblock %}